 .search__Pokemons{
    width: 100%;
    padding: 1.3em;
    max-width: 18em;
} 
select{
    padding: 0.9em;
    width: inherit;
    font-size: 0.8em;
    color: #0F0F2D;
    border: none;
    
    box-shadow: 0px 3px 6px 0px #00000026;

    
}